<?xml version="1.0"?>
<phpunit 
	colors="true"
	bootstrap="tests/bootstrap.php"
	cacheResult="false"
	cacheTokens="false"
	>
    <testsuites>
        <testsuite name="Other Router Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>